# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:
pokemon = pd.read_csv('pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
legendary = len(pokemon[pokemon['Legendary']==True])
non_legendary = len(pokemon[pokemon['Legendary']==False])
print('Legendary count:', legendary)
print('Non-Legendary count:', non_legendary)

Legendary count: 65
Non-Legendary count: 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [12]:
mean_legendary = pokemon['Total'][pokemon['Legendary']==True].mean()
std_legendary = pokemon['Total'][pokemon['Legendary']==True].std(ddof=0)
mean_non_legendary = pokemon['Total'][pokemon['Legendary']==False].mean()
std_non_legendary = pokemon['Total'][pokemon['Legendary']==False].std(ddof=0)
print('Mean Legendary:',mean_legendary)
print('Standard deviation Legendary:',std_legendary)
print('Mean Non-Legendary:',mean_non_legendary)
print('Standard deviation Non-Legendary:',std_non_legendary)

Mean Legendary: 637.3846153846154
Standard deviation Legendary: 60.46682302213781
Mean Non-Legendary: 417.21360544217686
Standard deviation Non-Legendary: 106.68776660321996

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [14]:
import scipy.stats as st
st.ttest_ind(pokemon['Total'][pokemon['Legendary']==True], pokemon['Total'][pokemon['Legendary']==False], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [16]:
# Your conclusions here:
#pvalue is of 9.35, so we reject the null hypothesis of equal averages. They are different.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [17]:
pokemon_type1_mean_std = pokemon.pivot_table(values=['Total'], index=['Type 1'], aggfunc=['count','mean','std']).reset_index()
display (pokemon_type1_mean_std)

      Type 1 count        mean         std
             Total       Total       Total
0        Bug    69  378.927536  117.875223
1       Dark    31  445.741935  109.126217
2     Dragon    32  550.531250  146.267538
3   Electric    44  443.409091  105.721952
4      Fairy    17  413.176471  123.781680
5   Fighting    27  416.444444  102.464378
6       Fire    52  458.076923  109.760496
7     Flying     4  485.000000  161.400124
8      Ghost    32  439.562500  110.072685
9      Grass    70  421.142857  106.650626
10    Ground    32  437.500000  123.913081
11       Ice    24  433.458333  108.281027
12    Normal    98  401.683673  115.733038
13    Poison    28  399.142857   92.358687
14   Psychic    57  475.947368  139.026645
15      Rock    44  453.750000  108.059227
16     Steel    27  487.703704  115.420907
17     Water   112  430.455357  113.188266

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [31]:
mean_water=(pokemon[pokemon['Type 1']=='Water'])['Total'].mean()
std_water=(pokemon[pokemon['Type 1']=='Water'])['Total'].std()

mean_others=(pokemon[pokemon['Type 1']!='Water'])['Total'].mean()
std_others=(pokemon[pokemon['Type 1']!='Water'])['Total'].std()

print("Mean water:", mean_water)
print("Standard deviation water:", std_water)
print("Mean others:", mean_others)
print("Standard deviation others:", std_others)

#print(f'Water Total Mean: {Water_Total_Mean}, Std: {Water_Total_std}')
#print(f'Non water Mean: {Others_Total_Mean}, Std: {Others_Total_std}')

Mean water: 430.45535714285717
Standard deviation water: 113.18826606431458
Mean others: 435.85901162790697
Standard deviation others: 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [32]:
st.ttest_ind((pokemon[pokemon['Type 1']=='Water'])['Total'],(pokemon[pokemon['Type 1']!='Water'])['Total'], equal_var = True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [ ]:
# Your conclusions here:
#pvalue is of 0.65, so we don't reject the null hypothesis.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [24]:
st.ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
#the pvalue is of 1.71, so we reject the null hypothesis.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [25]:
st.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
#the pvalue is of 0.39, so we don't reject the null hypothesis.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [34]:
pokemon['Dif Att Def'] = pokemon['Attack']-pokemon['Defense']  #the difference between two dependent columns

In [35]:
st.ttest_1samp(pokemon['Dif Att Def'],0)   
#the pvalue is of 1.714, so we reject the null hypothesis.

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: